$primary: #E0B973;



button, .btn {
border: none;
text-transform: uppercase;
background: none;
color: white;
font-weight: 700;
padding: 0.7rem 2rem;
border-radius: 5px;

&-primary{
    background: $primary;
    font-size: 0.8rem;
    left: 2rem;
    

}



}