button, .btn {
  border: none;
  text-transform: uppercase;
  background: none;
  color: white;
  font-weight: 700;
  padding: 0.7rem 2rem;
  border-radius: 5px;
}

button-primary, .btn-primary {
  background: #E0B973;
  font-size: 0.8rem;
  left: 2rem;
}

body {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}

header {
  background-image: url("./asset/Background.jpg");
  height: 100vmin;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

header .overlay {
  background-color: rgba(20, 39, 74, 0.5);
  position: absolute;
  height: inherit;
  opacity: 1.6;
  top: 0;
  left: 0;
  width: 100%;
}

header .logo {
  font-family: adobe-garamond-pro, serif;
  font-weight: 700;
  position: absolute;
  left: 4rem;
  background-color: #E0B973;
  border-radius: 0% 0% 30% 30%;
  padding: 1.2rem;
  color: #14274a;
  height: 7rem;
}

header .logo h2 {
  margin-top: 1.2rem;
  font-size: 40px;
  letter-spacing: 0.15em;
  line-height: 1.5rem;
  font-weight: bold;
}

header .logo p {
  margin: 0;
  text-align: center;
  font-size: 15px;
  letter-spacing: 0.6em;
}

header nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 38rem;
  color: white;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1rem;
  list-style: none;
}

header nav ul li {
  margin: 0 2rem;
}

header nav ul li.active {
  border-bottom: 2px solid white;
}

header .left-text {
  color: white;
  padding: 9rem 0 0 4.3rem;
  position: relative;
}

header .left-text h3 {
  text-transform: uppercase;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
  margin: 0;
  line-height: 3.8rem;
}

header .left-text h1 {
  text-transform: uppercase;
  font-weight: 700;
  font-style: normal;
  font-size: 100px;
  margin: 0;
  font-family: Adobe Garamond Pro;
  letter-spacing: 0.07em;
  line-height: 5.2rem;
  color: white;
}

header .left-text h2 {
  margin: 0;
  font-family: Adobe Garamond Pro;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  font-size: 2.5rem;
  line-height: 2.4rem;
}

header .left-text p {
  font-size: 0.9rem;
  letter-spacing: 0.1em;
  line-height: 1.3rem;
}

header .book {
  position: relative;
  margin-top: 3.1rem;
}

header .book .fa {
  float: left;
  margin-top: 0.2rem;
}

header .scroll {
  margin: 1.4rem;
}

header .scroll h3 {
  color: white;
  font-size: 1rem;
  line-height: 1.9rem;
  font-weight: 700;
}

#facilities {
  margin: 0;
  padding: 0;
}

#facilities .facilities-head {
  font-family: Adobe Garamond Pro;
  font-weight: 700;
  font-style: normal;
  font-size: 2.7rem;
  text-transform: uppercase;
  line-height: 4.5rem;
  letter-spacing: 5%;
  color: #14274a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#facilities .facilities-text {
  font-family: montserrat;
  font-weight: 200;
  font-style: normal;
  font-size: 0.9rem;
  line-height: 1.9rem;
  color: #14274a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=index.css.map */