@import "./variable";
@import "./globals";

body{
    margin: 0;
    padding: 0;
    font-family: Montserrat;

}

header{
    // position: absolute;
    background-image: url("./asset/Background.jpg");
    height: 100vmin;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    
    .overlay{
        background-color: $overlay;
        position: absolute;
        height: inherit;
        opacity: 1.6;
        top: 0;
        left: 0;
        width: 100%;
    }

    .logo{
        font-family: adobe-garamond-pro, serif;
            font-weight: 700;
        position: absolute;
        left: 4rem;
        background-color: $primary;
        border-radius: 0% 0% 30% 30%;
        padding: 1.2rem;
        color: $secondary;
        height: 7rem;

        h2{
            margin-top: 1.2rem;
            font-size: 40px;
            letter-spacing: 0.15em;
            line-height: 1.5rem;
            font-weight: bold;
            
        }
        p{
            margin: 0;
            text-align: center;
            font-size: 15px;
            letter-spacing: 0.6em;
            // line-height: 0.5rem;
        }
    }
    

    nav{
        position: relative;
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: center;
        margin-left: 38rem;
        color: $white;
        ul{
            display: flex;
            padding-top: 1rem;
            // text-decoration: none;s
            list-style: none;
            
            li{
                margin: 0 2rem;
                &.active{
                    border-bottom: 2px solid white;
                }
            }
            
        }
    }
  
    .left-text{
        color: white;
        padding: 9rem 0 0 4.3rem;
        position: relative;
    
        

        h3{
            text-transform: uppercase;
            font-weight: 400;
            font-style: normal;
            font-size: 2.5rem;
            margin: 0;
            line-height: 3.8rem;
            
        }
        h1{
            text-transform: uppercase;
            font-weight: 700;
            font-style: normal;
            font-size: 100px;
            margin: 0;
            font-family: Adobe Garamond Pro;
            letter-spacing: 0.07em;
            line-height: 5.2rem;
            color: white;
        }
        h2{
            margin: 0;
            font-family: Adobe Garamond Pro;
            text-transform: uppercase;
            letter-spacing: 0.4em;
            font-size: 2.5rem;
            line-height: 2.4rem;
        }
        p{
            font-size: 0.9rem;
            letter-spacing: 0.1em;
            line-height: 1.3rem;
        }
    }
    .book{
        position: relative;
        margin-top: 3.1rem;
        .fa{
            float: left;
            margin-top: 0.2rem;
        }
       
    }
    .scroll{
        margin: 1.4rem;

        h3{
            color: white;
            font-size: 1rem;
            line-height: 1.9rem;
            font-weight: 700;
        }
    }
    
}

#facilities{
    margin: 0;
    padding: 0;

    .facilities-head{
        font-family: Adobe Garamond Pro;
        font-weight: 700;
        font-style: normal;
        font-size: 2.7rem;
        text-transform: uppercase;
        line-height: 4.5rem;
        letter-spacing: 5%;
        color: $secondary;
        display: flex;
        justify-content: center;
    }

    .facilities-text{
        font-family: montserrat;
        font-weight: 200;
        font-style: normal;
        font-size: 0.9rem;
        line-height: 1.9rem;
        color: $secondary;
        display: flex;
        justify-content: center;

    }
}


